<div class="content" role="main">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Upload coordinates excel</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="explanation">
        Upload an excel with location in degree, minutes and seconds format and
        convert it to DD degrees format
        <span class="red-text"
          >i.e. lat. (E037°14.84’) will be converted to (37.247222)</span
        >
      </p>
      <div class="form-group">
        <!-- <label for="file">Choose File</label> -->
        <input
          type="file"
          id="file"
          accept=".XLS, .XLSX"
          (change)="readExcel($event)"
        />
        <button
          (click)="exportExcel()"
          class="export-button bg-transparent hover:bg-blue-500 text-[#2B6CB0] hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
        >
          Export
        </button>
      </div>
      <!-- (change)="handleFileInput($event.target.files)" -->
      <br />
      <br />
      <span class="key-span"
        >Key: DMS- Degree Minutes and seconds, DD - Degree Decimal</span
      >
      <table class="w-full">
        <thead class="w-full">
          <tr>
            <th>Airport</th>
            <th>Shortform</th>
            <th>DMS Lat</th>
            <th>DMS Lng</th>
            <th>DD Lat</th>
            <th>DD Lng</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of excelData">
            <td>{{ data.Description }}</td>
            <td>{{ data.Name }}</td>
            <td>{{ data.Latitude }}</td>
            <td>{{ data.Longitude }}</td>
            <td>{{ data.decLatitude }}</td>
            <td>{{ data.decLongitude }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>
